#### Establish Dependencies and import files

In [8]:
import csv, zipfile
import pandas as pd
import gmaps, requests

file_loc = 'C:/Users/leala/Documents/Project 1/breweries-brew-pubs-in-the-usa'

In [9]:
file_1 = pd.read_csv(file_loc + '/7160_1.csv')
file_dups = pd.read_csv(file_loc + '/8260_1.csv')
file_1.head(2)

,address,categories,city,country,key,lat,long,name,phones,postalCode,province,websites
0,407 Radam Ln,brewery,Austin,US,us/tx/austin/407radamln,NaN,NaN,(512) Brewing Co,5127072337,78745,TX,NaN
1,1135 N W Galveston Ave,Brewery and Bar,Bend,US,us/or/bend/1135nwgalvestonave,NaN,NaN,"10 Barrel Brewing Company, 10 Barrel Brewing Co","(541) 585-1007, 5415851007",97703,OR,10barrel.com

#### Create Dataframe that will hold only necessary information

In [10]:
brew_frame = pd.DataFrame({'Name': file_1['name'],
              'Address': file_1['address'],
              'City': file_1['city'],
              'State': file_1['province'],
              'Country': file_1['country'],
              'Zip Code': file_1['postalCode'],
              'Latitude': file_1['lat'],
              'Longitude': file_1['long']
              })
# brew_frame = brew_frame.rename(columns=
                               
# Just show TX because thats the state we're focusing on
brew_frame[brew_frame['State'] == 'TX'].head()

,Address,City,Country,Latitude,Longitude,Name,State,Zip Code
0,407 Radam Ln,Austin,US,NaN,NaN,(512) Brewing Co,TX,78745
3,1022 Texan Trl,Grapevine,US,32.938385,-97.064340,10 Gallon Tours,TX,76051
48,2514 S W 34th Ave,Amarillo,US,35.178496,-101.864166,34th Street Discount,TX,79109
85,507 513 N W G Ave,Fabens,US,31.510699,-106.156903,7 Pinos,TX,79838
98,2202 Dallas St,Houston,US,29.749066,-95.355792,8th Wonder Brewery,TX,77003

In [11]:
# Look for dirty data within the State column
brew_frame['State'].unique()

array(['TX', 'OR', 'ID', 'MN', 'CA', 'CO', 'WA', 'MI', 'VT', 'NJ', 'DE',
       'NY', 'IN', 'AZ', 'PA', 'WV', 'ME', 'VA', 'KS', 'MO', 'WI', 'MT',
       'FL', 'DC', 'IL', 'KY', 'OK', 'TN', 'AK', 'GA', 'IA', 'AR', 'NH',
       'OH', 'CT', 'MA', 'NC', 'LA', 'AL', 'WY', 'SC', 'NV', 'HI', 'NM',
       'AU-WA', 'NE', 'MD', 'UT', 'ND', 'RI', 'SD', 'Denver', 'AB', 'NL',
       'MS', 'Los Angeles', 'San Diego', 'Pittsburgh', 'St. Louis',
       'Sacramento', 'ON', 'Tampa'], dtype=object)

In [12]:
# Replace all the cities in the 'States' column with correct data
brew_frame['State'] = brew_frame.State.str.replace('AU-WA','WA').replace('Denver','CO').replace('Los Angeles','CA').str.replace('San Diego','CA')
brew_frame['State'] = brew_frame.State.str.replace('Sacramento', 'CA').replace('Pittsburgh', 'PA').replace('St. Louis', 'MO').replace('Tampa', 'FL')

# double check to ensure States are now uniform state codes
brew_frame.loc[brew_frame['State'].str.len() > 2]

Empty DataFrame
Columns: [Address, City, Country, Latitude, Longitude, Name, State, Zip Code]
Index: []

In [14]:
# brew_two = pd.DataFrame({'Name': file_2['name'],
#                          'State': file_2['province'],
#                          'City': file_2['city'],
#                          'Country': file_2['country'],
#                          'Zip Code': file_2['postalCode']})
# brew_two

#### Now that data is clean, plot it in gmaps to create heat map of Brewery locations

In [16]:
# add API key here, move to config file later
api = 'AIzaSyBRvabqSVdX32i91ACYu6MSFdhA3Zu2sco'

# configure gmaps with api key
gmaps.configure(api_key=api)

In [ ]:
# Store 'Lat' and 'Lng' into  locations 
locations = census_data_complete[["Lat", "Lng"]].astype(float)

# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
poverty_rate = census_data_complete["Poverty Rate"].astype(float)

In [ ]:
# Create a poverty Heatmap layer
brew_map = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=poverty_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1

brew_map.add_layer(heat_layer)

brew_map